.dashboard-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.dashboard-card-area {
    width: 800px;
}

.dashboard-img-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-profile-dashboard {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin-top: 24px;
}

.img-change-dashboard-button {
    margin: 16px 16px 4px 16px;
}

.card-body {
    height: 100%;
    padding: 24px 32px;
    border-left: 1px solid #dee2e6;
    align-content: center;
    margin: auto;
}

.card-body ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.empty-space {
    height: 24px;
}

i {
    font-size: 64px;
    padding: 24px 0;
    color: #392465;
    transition: color 0.3s ease;
}

.card {
    color: #392465;
}

.users-browse {
    background-color: white;
    color: #7426aa;
    transition: all 0.3s ease;
}

.users-browse:hover {
    background-color: #7426aa;
    color: white;
    border-radius: inherit;
}

.delete-own-account {
    background-color: white;
    color: #868686;
    transition: all 0.3s ease;

}

.delete-own-account:hover {
    background-color: #dc3545;
    color: white;
    border-radius: inherit;
}

.users-browse:hover i {
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}


.fa-users,
.fa-trash,
.fa-question,
.fa-comments {
    font-size: 48px;
}

h2 {
    color: #7426aa;
}

h5 {
    color: #392465;
}


.posts-questions-button {
    background-color: white;
    color: #7426aa;
    transition: all 0.3s ease;
}


.posts-questions-button:hover{
    background-color: #7426aa;
    color: white;
    border-radius: inherit;
}