
.categoriaCard{
    margin-bottom: 2rem;
    padding: 2%;
    border-color: #7426aa;
    border-width: 3.5px;
    border-style: solid;
    box-shadow: 10px 10px 5px #9750ca;
    border-radius: 5px;
}

.categoriaCard:hover{
    translate: 3%;
    transition: 0.3s;
}

#categoriaLink{
    padding: 50px 0;
    padding-right: 3%;
    text-align: end;
}

.listCategoria{
    margin: 15px;
    margin-bottom: 6%;
}

.newPostCard:hover{
    background-color: rgb(213, 210, 206);
    transition: 0.3s;
}

.tableTag{
    background-color: rgba(183, 183, 183, 0.585);
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: smaller;
    padding: 3px;
}

.tablePostType{
    justify-self: end;
}

@media only screen and (max-width: 500px) {
    table {
      font-size:x-small;
    }
  }

.postAutor{
    justify-self: end;
    font-size: smaller;
}

.secaoPost{
    background-color: rgb(224, 218, 210);
    padding: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #9750ca;
}

.secaoComentarios{
    margin-top: 12%;
}

.comentario{
    background-color: rgb(224, 218, 210);
    padding: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #9750ca;
    margin-bottom: 5%;
}

.commentInput{
    width: 90%;
    margin-bottom: 5px;
}
