html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid.h-100 {
  min-height: 100vh;
}

.row.h-100 {
  min-height: 100vh;
}

.col-md-6 {
  height: 100%;
}

.imagem-background {
  background-color: #F6F6F6;
  background-image: url('/imagens/codigoAbertoLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.botaoLogin{
  background-color: #7426aa;
  border: none;
  padding: 6px;
  color: white !important;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.fonteBold{
  color: #392465;
  font-weight: 650;
  font-family: 'ChakraPetch-SemiBold', sans-serif;
}

.fonteLink{
  color: #059AE1;
  font-weight: 650;
  font-family: 'ChakraPetch-Light', sans-serif;
}

@font-face {
  font-family: 'ChakraPetch-Light';
  src: url("../fontes/ChakraPetch-Light.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ChakraPetch-SemiBold';
  src: url("../fontes/ChakraPetch-SemiBold.ttf") format('truetype');
  font-weight: normal;
}

.fontePrincipal{
  color: #392465;
  font-weight: 650;
  font-family: 'ChakraPetch-Light', sans-serif;
}

