

@font-face {
  font-family: 'ChakraPetch-Light';
  src: url("../fontes/ChakraPetch-Light.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ChakraPetch-SemiBold';
  src: url("../fontes/ChakraPetch-SemiBold.ttf") format('truetype');
  font-weight: normal;
}

.fontePrincipal{
  color: #7426aa;
  font-weight: 600;
  font-family: 'ChakraPetch-Light', sans-serif;
}

.fonteBold{
  color: #7426aa;
  font-weight: 600;
  font-family: 'ChakraPetch-SemiBold', sans-serif;
}

.politicas{
  padding: 20px;
  padding-top: 60px;
}

