
.botaoPrincipal{
    background-color: #392465;
    color: white;
    border: none;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}

@font-face {
    font-family: 'ChakraPetch-Light';
    src: url("../fontes/ChakraPetch-Light.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'ChakraPetch-SemiBold';
    src: url("../fontes/ChakraPetch-SemiBold.ttf") format('truetype');
    font-weight: normal;
}

.fontePrincipal{
    color: #392465;
    font-weight: 650;
    font-family: 'ChakraPetch-Light', sans-serif;
}

.fonteBold{
    color: #392465;
    font-weight: 650;
    font-family: 'ChakraPetch-SemiBold', sans-serif;
}
