nav {
    background: linear-gradient(to left, #40155e, #530d6e,#ffffff);

    padding: 10px 0;
}

.nav-link {
    margin-left: 20px;
    font-size: 17px;
    color: #241595!important;
    font-family: 'ChakraPetch-Light', sans-serif;
    font-weight: bold;
}

.user{
    color: white!important;
    font-size: 20px;
}



.botaoPrincipal{
    background-color: #7426aa;
    color: white;
    border: none;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    font-family: 'ChakraPetch-Light', sans-serif;
}

@font-face {
    font-family: 'ChakraPetch-Light';
    src: url("../fontes/ChakraPetch-Light.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'ChakraPetch-SemiBold';
    src: url("../fontes/ChakraPetch-SemiBold.ttf") format('truetype');
    font-weight: normal;
}

.fontePrincipal{
    color: #392465;
    font-weight: 650;
    font-family: 'ChakraPetch-Light', sans-serif;
}

.fonteBold{
    color: #392465;
    font-weight: 650;
    font-family: 'ChakraPetch-SemiBold', sans-serif;
}

.fonteLink{
    color: #059AE1;
    font-weight: 650;
    font-family: 'ChakraPetch-Light', sans-serif;
}

.botaoCancel{
    background-color: white;
    color: #392465;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: 'ChakraPetch-Light', sans-serif;
}
