.search-form {
    max-width: 400px;
    width: 100%;
}

.search-input {
    border-radius: 20px 0 0 20px;
    border: 1px solid #ced4da;
    padding-left: 15px;
    height: 40px;
    transition: all 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(116, 38, 170, 0.25);
    border-color: #7426aa;
}

.search-button {
    border-radius: 0 20px 20px 0;
    background-color: #7426aa;
    border-color: #7426aa;
    height: 40px;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #5e1e8a;
    border-color: #5e1e8a;
}

.table-section {
    margin: 40px;
}

#pagination-nav{
    background-color: none !important;
}